{% extends "base.html" %}

{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col-sm-6">
        <button class="btn btn-primary btn-block" id="get_weather">
            <h1>My Location</h1>
        </button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary btn-block" id="show-form-btn">
          <h1>Somewhere Else</h1>
        </button>
    </div>
  </div>
    <script>document.getElementById("show-form-btn").addEventListener("click", function(){
    document.getElementById("location-form").style.display = "block";
    });
</script>
    <form action ="{% url 'get_weather' %}" method="post" style="display:none;" id="location-form">
        {% csrf_token %}
        <div class="form form-group">
            <label for="city">City</label>
            <input type="text" class="form form-control" id="city" name="city">
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <select class="form-select" aria-label="state">
                <option selected>State</option>
                {% for state in form.state %}
                    <option value="{{ state }}">{{ state.choices }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<!--     if this is triggered, hide buttons and show location at top -->
<!--     <p id=weatherdata></p> -->
<!--     IF ANYTHING BELOW THIS IS TRIGGERED
    SHOW BOTTOM BUTTON TO START OVER WITH THE RESULTS-->

  <div class="row align items-center">
    <div class="col-12">
        <div class="card" id="current-weather-card">
            <div id="card-body">

              <p id="weekday"></p>
                <span>Low:</span>
              <span id="minTemp"></span><br>
                <span>High:</span>
              <span id="maxTemp">High</span>
            </div>
        </div>
    </div>
  <div class="row align-items-center">
  {% for i in '0123' %}
    <div class="col-sm-3">
      <div class="card">
            <p id="date{{ i }}"></p>
            <p id="weekday{{ i }}"></p>
            <p id="minTemp{{ i }}"></p>
            <p id="maxTemp{{ i }}"></p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock content %}
</div>
</div>